# FIT5120 - Industry Experience Studio Project  S1 2022

### Project Name: HOTEL REVIEW ASSISTANT
### Task Name: Data Wrangling - Iteration 2 - Property Suburb


Team information
- Team Name: AntiFake
- Team Number: TA 36

Date: 02/05/2022

Version: 1.0

Programming Language: Python 3.8 and Jupyter notebook

Python Libraries used:
- pandas (For data manipulation and analysis)

## Table of Contents

* [1. Import Library](#sec_1)
* [2. Find the Most Popular Suburb](#sec_2)
* [3. Validating of the Suburb Name with Legal Suburb Name](#sec_2)
* [4. Normalizing the Suburb Name](#sec_2)
* [5. Genrating the top 5 Overall Reliability Property](#sec_2)

### 1. Import Library

In [1]:
import pandas as pd

### 2. Find the Most Popular Suburb

In [26]:
property_suburb = pd.read_csv('./Property_Suburb.csv')
melbourne_suburb = pd.read_csv('./Copy of Melbourne suburbs.csv')

property_suburb.head(5)

,listing_id,name,picture_url,Overall_Reliable_probability,latitude,longitude_y,neighbourhood,neighbourhood_cleansed,suburb
0,19610101,Cozy 4 bedroom home 5min to Melbourne airport,https://a0.muscache.com/pictures/540d42ee-53dc...,84,-37.69862,144.87786,NaN,HUME,TULLAMARINE
1,31911239,Olinda Church House Cottage Suite - Olinda Vil...,https://a0.muscache.com/pictures/5a289e56-9764...,94,-37.85569,145.36314,"Olinda, Victoria, Australia",YARRA RANGES,OLINDA
2,11104559,"Stunning room, great location",https://a0.muscache.com/pictures/a60360de-618c...,100,-37.83384,145.11288,"Box Hill South, Victoria, Australia",WHITEHORSE,BOX HILL SOUTH
3,46836785,Luxury apartment a short walk from CBD and gar...,https://a0.muscache.com/pictures/a09a9cfe-2b16...,100,-37.83058,144.96837,"Southbank, Victoria, Australia",MELBOURNE,SOUTHBANK
4,46828016,Melbourne CBD 2 bedroom and 2 washroom living,https://a0.muscache.com/pictures/99169d3a-3c80...,100,-37.80883,144.96111,"Melbourne, Victoria, Australia",MELBOURNE,MELBOURNE

In [33]:
# Validate the number of null values
LGA = property_suburb[['neighbourhood_cleansed', 'suburb']]
LGA.count()

neighbourhood_cleansed    12938
suburb                    12938
dtype: int64

In [29]:
# Drop duplicate suburb name
LGA = LGA.drop_duplicates(subset=['suburb'])
LGA.reset_index()

     index neighbourhood_cleansed           suburb
0        0                   HUME      TULLAMARINE
1        1           YARRA RANGES           OLINDA
2        2             WHITEHORSE   BOX HILL SOUTH
3        3              MELBOURNE        SOUTHBANK
4        4              MELBOURNE        MELBOURNE
..     ...                    ...              ...
403  11808                  CASEY    CANNONS CREEK
404  11855               BRIMBANK          DELAHEY
405  12057             WHITTLESEA            LALOR
406  12455              NILLUMBIK  BEND OF ISLANDS
407  12772                BANYULE        YALLAMBIE

[408 rows x 3 columns]

In [40]:
# Generate the output file
LGA.to_csv('LGA.csv', index=False)
# Display the result
pd.DataFrame(LGA['suburb'].value_counts(ascending=False)).head(30)

                 suburb
MELBOURNE          2127
SOUTHBANK           706
ST KILDA            515
SOUTH YARRA         470
DOCKLANDS           380
CARLTON             363
RICHMOND            318
BRUNSWICK           246
FITZROY             210
NORTH MELBOURNE     202
PORT MELBOURNE      167
SOUTH MELBOURNE     165
ELWOOD              163
WEST MELBOURNE      162
HEALESVILLE         155
PRAHRAN             153
NORTHCOTE           152
COLLINGWOOD         150
EAST MELBOURNE      138
FITZROY NORTH       136
POINT COOK          123
GLEN WAVERLEY       121
BRUNSWICK EAST      118
ABBOTSFORD          116
ST KILDA EAST       113
HAWTHORN             98
BOX HILL             95
WINDSOR              92
FOOTSCRAY            91
WARBURTON            80

### 3. Validating of the Suburb Name with Legal Suburb Name

In [4]:
# Generate the legal suburb name in metro melbourne
melbourne_suburb = melbourne_suburb.drop(columns=['id', 'neeed to be changed', 'changed'])
property_suburb['region'] = property_suburb['region'].str.upper().str.strip()
property_suburb = property_suburb.dropna(subset=['region'])
# Display the result
melbourne_suburb

          suburb
0       ABBEYARD
1     ABBOTSFORD
2     ABERFELDIE
3      ABERFELDY
4        ACHERON
...          ...
2780    YULECART
2781     YUNDOOL
2782      YUROKE
2783     YUULONG
2784     ZEERUST

[2785 rows x 1 columns]

In [6]:
# Validate the number of suburb name in the given dataset
prop_suburb_list = list(property_suburb['region'])
len(prop_suburb_list)

melbourne_suburb_list = list(melbourne_suburb['suburb'])
len(melbourne_suburb_list)

2785

In [7]:
# Find the identical name list
same_list = []

for i in melbourne_suburb_list:
    for x in prop_suburb_list:
        if x == i:
            same_list.append(x)
            
len(same_list)

14713

In [8]:
# Generate the illegal suburb name list
list(set(prop_suburb_list) - set(same_list))

['MELBOURNE CITY',
 'CHUM CREEK/HEALESVILLE',
 'SAINT KILDA',
 'ST.KILDA',
 'HTTPS://A0.MUSCACHE.COM/PICTURES/61227459/9DDE51D4_ORIGINAL.JPG',
 'ST. KILDA WEST',
 'ST KILDA WEST MELBOURNE',
 'OAKLEIGH VIC',
 'DANDENONG RANGES',
 'PORT PHILLIP CITY',
 'ST ANDREWS',
 'IVANHOE (MELBOURNE)',
 'MANNINGHAM',
 'SAINT ALBANS',
 'BRIMBANK CITY',
 'STKILDA EAST',
 'SAINT KILDA WEST',
 'YARRA VALLEY',
 'ST. KILDA',
 'ST.KILDA EAST',
 'SAINT KILDA EAST',
 'EAST ST. KILDA',
 'ST KILDA / ELWOOD',
 'NORTH FITZROY',
 'ST. ANDREWS',
 'BRUNSWICK / MELBOURNE',
 'CARDINIA SHIRE',
 'MELBOURNE (ELTHAM)',
 'MT DANDENONG',
 'MIDDLE PARK MELBOURNE',
 'MT WAVERLEY',
 'WEST MELBOURNE - FLAGSTAFF',
 'EAST DONCASTER']

### 4. Normalizing the Suburb Name

In [9]:
# Remove the city council name that record in suburb column
City_council = ['PORT PHILLIP CITY', 'CARDINIA SHIRE', 'MANNINGHAM','YARRA VALLEY', 'HTTPS://A0.MUSCACHE.COM/PICTURES/61227459/9DDE51D4_ORIGINAL.JPG','BRIMBANK CITY']
property_suburb = property_suburb[~property_suburb['region'].isin(City_council)]

In [10]:
# Manully rename the illegal suburb name
property_suburb.loc[(property_suburb.region == 'MELBOURNE CITY'),'region']='MELBOURNE'
property_suburb.loc[(property_suburb.region == 'STKILDA EAST'),'region']='ST KILDA EAST'
property_suburb.loc[(property_suburb.region == 'MIDDLE PARK MELBOURNE'),'region']='MIDDLE PARK'
property_suburb.loc[(property_suburb.region == 'SAINT ALBANS'),'region']='ST ALBANS'
property_suburb.loc[(property_suburb.region == 'IVANHOE (MELBOURNE)'),'region']='IVANHOE'
property_suburb.loc[(property_suburb.region == 'ST ANDREWS'),'region']='ST ANDREWS BEACH'
property_suburb.loc[(property_suburb.region == 'DANDENONG RANGES'),'region']='MOUNT DANDENONG'
property_suburb.loc[(property_suburb.region == 'NORTH FITZROY'),'region']='FITZROY NORTH'
property_suburb.loc[(property_suburb.region == 'OAKLEIGH VIC'),'region']='OAKLEIGH'
property_suburb.loc[(property_suburb.region == 'ST. ANDREWS'),'region']='ST ANDREWS BEACH'
property_suburb.loc[(property_suburb.region == 'ST KILDA WEST MELBOURNE'),'region']='ST KILDA WEST'
property_suburb.loc[(property_suburb.region == 'SAINT KILDA WEST'),'region']='ST KILDA WEST'
property_suburb.loc[(property_suburb.region == 'ST. KILDA'),'region']='ST KILDA'
property_suburb.loc[(property_suburb.region == 'ST KILDA / ELWOOD'),'region']='ELWOOD'
property_suburb.loc[(property_suburb.region == 'WEST MELBOURNE - FLAGSTAFF'),'region']='FLAGSTAFF'
property_suburb.loc[(property_suburb.region == 'CHUM CREEK/HEALESVILLE'),'region']='HEALESVILLE'
property_suburb.loc[(property_suburb.region == 'BRUNSWICK / MELBOURNE'),'region']='BRUNSWICK'
property_suburb.loc[(property_suburb.region == 'MT WAVERLEY'),'region']='MOUNT WAVERLEY'
property_suburb.loc[(property_suburb.region == 'EAST ST. KILDA'),'region']='ST KILDA EAST'
property_suburb.loc[(property_suburb.region == 'ST. KILDA WEST'),'region']='ST KILDA WEST'
property_suburb.loc[(property_suburb.region == 'ST.KILDA EAST'),'region']='ST KILDA EAST'
property_suburb.loc[(property_suburb.region == 'EAST DONCASTER'),'region']='DONCASTER EAST'
property_suburb.loc[(property_suburb.region == 'SAINT KILDA EAST'),'region']='ST KILDA EAST'
property_suburb.loc[(property_suburb.region == 'MT DANDENONG'),'region']='MOUNT DANDENONG'
property_suburb.loc[(property_suburb.region == 'MELBOURNE (ELTHAM)'),'region']='ELTHAM'
property_suburb.loc[(property_suburb.region == 'ST.KILDA'),'region']='ST KILDA'
property_suburb.loc[(property_suburb.region == 'SAINT KILDA'),'region']='ST KILDA'

In [13]:
# Check again the illegal suburb name
prop_suburb_list2 = list(property_suburb['region'])
len(prop_suburb_list2)
same_list2 = []

for i in melbourne_suburb_list:
    for x in prop_suburb_list2:
        if x == i:
            same_list2.append(x)
            
len(same_list)

list(set(prop_suburb_list2) - set(same_list2))

[]

### 5.Genrating the top 5 Overall Reliability Property

In [15]:
# Rename and drop the duplicate column
property_suburb = property_suburb.drop(['id'], axis=1)
property_suburb = property_suburb.rename(columns={'name_x': "name", 'picture_url_x': "picture_url",
                                'latitude_y': "latitude", 'region': 'suburb'})
property_suburb.shape

(12938, 9)

In [12]:
# Display the updated dataframe
property_suburb['neighbourhood_cleansed'] = property_suburb['neighbourhood_cleansed'].str.upper().str.strip()
property_suburb

,listing_id,name,picture_url,Overall_Reliable_probability,latitude,longitude_y,neighbourhood,neighbourhood_cleansed,suburb
0,19610101,Cozy 4 bedroom home 5min to Melbourne airport,https://a0.muscache.com/pictures/540d42ee-53dc...,84,-37.69862,144.87786,NaN,HUME,TULLAMARINE
1,31911239,Olinda Church House Cottage Suite - Olinda Vil...,https://a0.muscache.com/pictures/5a289e56-9764...,94,-37.85569,145.36314,"Olinda, Victoria, Australia",YARRA RANGES,OLINDA
2,11104559,"Stunning room, great location",https://a0.muscache.com/pictures/a60360de-618c...,100,-37.83384,145.11288,"Box Hill South, Victoria, Australia",WHITEHORSE,BOX HILL SOUTH
3,46836785,Luxury apartment a short walk from CBD and gar...,https://a0.muscache.com/pictures/a09a9cfe-2b16...,100,-37.83058,144.96837,"Southbank, Victoria, Australia",MELBOURNE,SOUTHBANK
4,46828016,Melbourne CBD 2 bedroom and 2 washroom living,https://a0.muscache.com/pictures/99169d3a-3c80...,100,-37.80883,144.96111,"Melbourne, Victoria, Australia",MELBOURNE,MELBOURNE
...,...,...,...,...,...,...,...,...,...
12933,16052972,BOUTIQUE STAYS - Hampton Lookout,https://a0.muscache.com/pictures/b24a6b0f-22e1...,75,-37.93945,145.00047,"Hampton, Victoria, Australia",BAYSIDE,HAMPTON
12934,48985376,A lovely space to unwind & relax after a busy day,https://a0.muscache.com/pictures/miso/Hosting-...,75,-37.80463,144.96348,NaN,MELBOURNE,CARLTON
12935,24746448,★TRENDY SOUTHBANK SKYHIGH VIEWS,https://a0.muscache.com/pictures/cc6c13d1-d683...,80,-37.82786,144.95940,"Southbank, Victoria, Australia",MELBOURNE,SOUTHBANK
12936,6644795,"Cosy, artist cottage in exceptional location",https://a0.muscache.com/pictures/7b3c9cbc-ca13...,88,-37.78298,144.98311,"Fitzroy North, Victoria, Australia",YARRA,FITZROY NORTH
12937,41384614,Vintage Terrace House in the Heart of Carlton,https://a0.muscache.com/pictures/19ac27cf-44e6...,87,-37.79937,144.97093,"Carlton, Victoria, Australia",MELBOURNE,CARLTON

In [13]:
# Generate the updated property suburb file
property_suburb.to_csv('property_suburb.csv', index=False)

In [17]:
# Generate the top 5 Overall Reliability Property for each suburb
suburb_top5 = property_suburb.sort_values('Overall_Reliable_probability',ascending = False).groupby('suburb').head(5).reset_index()
suburb_top5.shape

(1662, 10)

In [19]:
# Generate the output file
suburb_top5 = suburb_top5.drop(['index'], axis=1)
melbourne_suburb.to_csv('Suburb_Info.csv', index=True)
suburb_top5.to_csv('Top5_Property_by_Suburb.csv', index=True)